<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="INFO_LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ssZ} [%-5level] - %msg%n</Property>
        <Property name="ERR_LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ssZ} [%-5level] [%t] %logger{36} - %msg%n</Property>
        <Property name="TASK_LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ssZ} [%-5level] - %msg%n</Property>
        <Property name="APP_LOG_ROOT">./log</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>${INFO_LOG_PATTERN}</Pattern>
            </PatternLayout>
        </Console>

        <RollingFile name="ErrLog"
                     fileName="${APP_LOG_ROOT}/application.log"
                     filePattern="${APP_LOG_ROOT}/application-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${ERR_LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="2500KB"/>
            </Policies>
            <DefaultRolloverStrategy max="1"/>
        </RollingFile>

        <RollingFile name="TaskLog"
                     fileName="${APP_LOG_ROOT}/task.log"
                     filePattern="${APP_LOG_ROOT}/application-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${TASK_LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="2500KB"/>
            </Policies>
            <DefaultRolloverStrategy max="1"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="by.vorakh.dev.fibo.service.impl" level="info" additivity="false">
            <AppenderRef ref="TaskLog" />
            <AppenderRef ref="Console" />
            <AppenderRef level="error" ref="ErrLog"/>
        </Logger>

        <Root level="info">
            <AppenderRef level="info" ref="Console"/>
            <AppenderRef level="warn" ref="ErrLog"/>
        </Root>
    </Loggers>
</Configuration>